/********************************************************
------------------------ Beluga -------------------------
Design: apopagasm
CSS: Exanurous
Version: 1.1;
Bug Reports: forums.php?action=viewthread&threadid=16899;
Style derived from Gazelle Postmod and BTN SMPTE
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@7280885/layout.css);
@import url(https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@7280885/permissions/original.css);
